

<div class="enter-password">
    <div class="form-group">
        <label>
            Enter Password
        </label>
        <input
            placeholder="password"
            class="form-control"
            type="text"
            [formControl]="inputPassword"
        >
        <div *ngIf="errorMsg" class="error-msg alert alert-danger" role="alert">
            {{ errorMsg }}
        </div>
    </div>
    <button 
        (click)="onSubmit()" 
        class="btn btn-primary"
    >
    Submit
    </button>
</div>
