<div class="home-container">
    <div class="home">
        <h1>Multiplayer Chess</h1>
        <div class="img-container">
            <img src="assets/images/ChessKing.png">
        </div>

        <button (click)="onCreate()" type="button" class="btn btn-primary btn-lg btn-block" [disabled]="disabled">
            Create Game
        </button>

        <button (click)="onJoin()" type="button" class="btn btn-outline-primary btn-lg btn-block">
            Join Game
        </button>
    </div>
</div>
