.home-container {
    width: 400px;

    margin: 0px auto;
    text-align: center;

    margin-top: 10vh;

    .img-container {
        margin: 30px auto;
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }

    background: #eee;
    padding: 20px;
    border-radius: 10px;
}