<div class="chess-board">
    <div class="row"
        *ngFor="let row of chessBoard; index as rowIdx"
        >
        <div class="column"
            *ngFor="let column of row; index as columnIdx"
            >
            <app-chess-board-square
                [chessPiece]="getChessPiece(rowIdx, columnIdx)"
                [color]="color(rowIdx, columnIdx)"
                (click)="onClick(rowIdx, columnIdx)"
            >
            </app-chess-board-square>
        </div>
    </div>
</div>
